{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    <div class="row" style=" margin-bottom: 10px;padding-bottom: 10px;">

        {% if object.checker and object.checker.checker %}
        <table class="table">
            <thead>
            <tr>
                <th>Checker</th>
                <th>Date Time Stamp</th>
                <th>Action</th>
                <th>Remarks</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ object.checker.checker.firstName ~' '~ object.checker.checker.lastName }}</td>
                <td>{{ object.checkerUpdatedAt|date('d M Y, h:i A') }}</td>
                <td>{{ object.status }}</td>
                <td>{{ object.checkerRemark }}</td>
            </tr>
            </tbody>
        </table>
        {% else %}
            None
        {% endif %}

    </div>
{% endblock %}
