# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port: null
    mailer_encryption: null

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    pagination_limit: 2

    #s3
    s3_bucket_name: 33
    s3_access_key: 33
    s3_secret_key: 33
    s3_region: ap-southeast-1
    s3_directory: 33
    s3_version: latest
    s3_sdk_version: 3
    s3_cdn_server_path: /uploads/media
    s3_filesystem: sonata.media.filesystem.local
    sonata.media.provider.image.class: Application\Sonata\MediaBundle\Provider\AppImageProvider
    sonata.media.provider.file.class: Application\Sonata\MediaBundle\Provider\AppFileProvider
    router.request_context.host: claims.magentapulse.com1/
    router.request_context.scheme: http
    router.request_context.base_url: /


