@media screen and (max-width: 970px) {
   .btn-claim{
       width: 100%;
       margin-bottom: 2px;
   }
    .show-image img{
        width: 100%;
    }
}
.claim-image-wrap{
    text-align: center;
    padding: 0px;
    margin-bottom: 15px;
}