@media screen and (max-width: 970px) {
   .btn-claim{
       width: 100%;
       margin-bottom: 2px;
   }
    .show-image img{
        width: 100%;
    }
}
.claim-image-wrap{
    text-align: center;
    padding: 0px;
    margin-bottom: 15px;
}

.claim-images{
    opacity: 0.0;
    opacity: 0.0;
}
.wrap-take-photo {
    background: url(images/take-photo.png) 0 0 no-repeat;
    border: none;
    overflow: hidden;
    padding: 5px;
}
.wrap-photo-library {
    background: url(images/photo-library.png) 0 0 no-repeat;
    border: none;
    overflow: hidden;
    padding: 5px;
}

