{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="back-link">
        <a href="{{ path('job_public_search') }}" class="btn btn-primary">Back to Dashboard</a>
    </div>
    <div class="error-container">
        <i class="pe-7s-way text-success big-icon"></i>
        <h1>Register Successfully</h1>
        <p>
            Thank you for registration.Please check email for next step to confirmation
        </p>
        <a href="{{ path('job_public_search') }}" class="btn btn-xs btn-success">Go back to dashboard</a>
    </div>

{% endblock %}
