{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block content %}

    {% if is_granted('ROLE_USER') and not is_granted('ROLE_CLIENT_ADMIN') and not is_granted('ROLE_HR_ADMIN') %}
        <div>
            {% include '@App/SonataAdmin/Common/claim_landing_page.html.twig' %}
        </div>
    {% endif %}

{% endblock %}
