{% extends 'AppBundle:SonataAdmin:standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <div>

        {% include '@App/SonataAdmin/Common/claim_landing_page.html.twig' %}
    </div>
{% endblock %}