{% extends 'AppBundle:SonataAdmin:standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <div class="row" style="margin-bottom: 50px;overflow: hidden;clear: both;text-align:center;">
        <a href="javascript:void(0);"><span class="rotate-img">Rotate Image</span></a>
    </div>
    <div class="row show-image" style="text-align: center">
        <img data-rotate="0" class="img-rotate" src="{{ url }}">
    </div>
    <script>
        $(function () {
            $(".rotate-img").rotate({
                bind: {
                    click: function () {
                        var from = $('.img-rotate').data('rotate');
                        console.log(from);
                        $('img.img-rotate').rotate({
                            angle: from,
                            animateTo: from + 90
                        });
                        $('.img-rotate').data('rotate',from+90);
                    }
                }
            });
        });

    </script>
{% endblock %}