{% if isShowDeleteButtonForClaim(object) %}
    <a class="btn btn-sm btn-default" href="{{ path('admin_app_claim_delete', {'id':object.id}) }}"><i class="fa fa-times" aria-hidden="true"></i> Delete</a>
{% endif %}